mixin item(title, descr)
  .item
    h2.item-title= title
    p.item-descr= descr

mixin item-menu(name, boolean)
  li
    span(class=boolean ? 'header-menu--arrow': 'header-menu--item')= name

mixin header-feedback(number, subtitle)
  p
    strong= number
    span= subtitle

mixin text-slide(title, subtitle, boolean, discount)
    span.main-slider--title= title
      span.main-discount(v-if='slide.discount') скидка
        strong= discount + ' %'
    span.main-slider--subtitle= subtitle
    button.main-slider--detail Подробнее

mixin product-card(title, img, quantity, grams, сalory, price, item, hit, veg)
    .product-item--picture
      .product-stock.product-veg(v-if="item.veg")
        span veg
      .product-stock.product-hit(v-if="item.hit")
        span хит
      img(:src='item.img')
    .product-item--calc
      h3= title
      span {{ item.quantity }} шт. | {{ item.grams }} г. | {{ item.сalory }} Kkal
      .product-wrapper
        .product-price
          strong {{ item.price }} <sup> руб.</sup>
        .product-payment
          button.product-payment--minus
          span= item
          button.product-payment--plus
      button.product-item--sale
        span В корзину
