mixin item(title, descr)
  .item
    h2.item-title= title
    p.item-descr= descr

mixin item-menu(name, boolean)
  li
    span(class=boolean ? 'header-menu--arrow': 'header-menu--item')= name

mixin header-feedback(number, subtitle)
  p
    strong= number
    span= subtitle

mixin text-slide(title, subtitle, boolean, discount)
    span.main-slider--title= title
      span.main-discount(v-if='slide.discount') скидка
        strong= discount + ' %'
    span.main-slider--subtitle= subtitle
    button.main-slider--detail Подробнее

mixin product-card()
    .product-item--picture
      .product-new(:class="stockStyle ? 'new' : 'stock' ", v-if="item.newProduct")
        h5 {{ stockStyle ? 'new' : 'stock' }}
      .product-stocks(v-if="item.stocks")
        h5 stocks
      .product-stock.product-veg(v-if="item.veg")
        span veg
      .product-stock.product-hit(v-if="item.hit")
        span хит
      .product-stock.product-hit(v-if="item.hot")
        img(src="./assets/img/fire.png", style="height: 30px; width: 23px; margin-top: 10px;")
      img(:src='item.img')
    .product-item--calc
      h3 {{ item.title }}
      span.product-cost--option  {{ item.quantity * item.item }} {{ item.type }} | {{ item.grams * item.item }} г. | {{ item.сalory * item.item }} Kkal
      .product-wrapper
        .product-price
          strong {{ item.price * item.item }} <sup> руб.</sup>
        .product-payment
          button.product-payment--minus(@click="item.item -= item.item - 1 === 0 ? 0 : 1")
          span {{ item.item }}
          button.product-payment--plus(@click="item.item += 1")
      button.product-item--sale(@click="productCounter += 1")
        span В корзину

mixin product-wok()
  .product-item--picture
    .product-stock.product-veg(v-if="item.veg")
      span veg
    .product-stock.product-hit(v-if="item.hit")
      span хит
    .product-stock.product-hit(v-if="item.hot")
      img(src="./assets/img/fire.png", style="height: 30px; width: 23px; margin-top: 10px;")
    img(:src='item.img', style="height: 200px; padding: 35px 0 0 0 ")
  .product-item--calc
    h3 {{ item.title }}
    span.wok {{ item.grams * item.item }} г. | {{ item.сalory * item.item }} Kkal
    .product-additive
      .product-quantity
        .product-quantity--text
          span Добавить:
        .product-quantity--number
          span + {{ item.itemMore }}
          button(@click="item.itemMore = 1") x
      .product-cost
        .product-cost--price
          span {{ item.priceMore * item.itemMore }} <sup>руб</sup>
        .product-cost--add
          button(@click="item.itemMore += 1") +
    .product-sauce
      .product-sauce--list
        h5 {{ item.itemSubmenu }}
        button(@click="item.submenu = !item.submenu")
          span &#8964;
      .product-sauce--submenu(v-show="item.submenu")
        span(@click="item.itemSubmenu = item.listSubmenu.one, item.submenu = !item.submenu") {{ item.listSubmenu.one }}
        span(@click="item.itemSubmenu = item.listSubmenu.second, item.submenu = !item.submenu") {{ item.listSubmenu.second }}
        span(@click="item.itemSubmenu = item.listSubmenu.third, item.submenu = !item.submenu") {{ item.listSubmenu.third }}
        span(@click="item.itemSubmenu = item.listSubmenu.fourth, item.submenu = !item.submenu") {{ item.listSubmenu.fourth }}
    .product-wrapper
      .product-price
        strong {{ item.price * item.item + item.priceMore * item.itemMore }} <sup> руб.</sup>
      .product-payment
        button.product-payment--minus(@click="item.item -= item.item - 1 === 0 ? 0 : 1")
        span {{ item.item }}
        button.product-payment--plus(@click="item.item += 1")
    button.product-item--sale(@click="productCounter += 1")
      span В корзину

mixin reviews-card
  .reviews-head
    .reviews-head--img
      img(src="./assets/img/reviews/girl.png")
    .reviews-head--title
      h5.reviews-head--name Надежда Наширбанова
      span.reviews-head--data 5 авг 2017 в 9:58
  .reviews-comment
    p
      | Cпасибо за быструю доставку!
      | Отличный поздний ужин после рабочего дня )
    img(src="./assets/img/reviews/rewiews-1.png")

  .reviews-footer
    .reviews-footer--social
      .reviews-footer--heart
        svg(xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewbox='0 0 24 24')
          path(d='M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z')
      .reviews-footer--comment
        svg(viewbox='0 0 60 60' xml:space='preserve' xmlns='http://www.w3.org/2000/svg')
          path(d='M54,2H6C2.748,2,0,4.748,0,8v33c0,3.252,2.748,6,6,6h28.558l9.703,10.673C44.454,57.885,44.724,58,45,58  c0.121,0,0.243-0.022,0.361-0.067C45.746,57.784,46,57.413,46,57V47h8c3.252,0,6-2.748,6-6V8C60,4.748,57.252,2,54,2z')

      .reviews-footer--share
        svg(viewbox='0 0 525.15 525.15' xml:space='preserve' xmlns='http://www.w3.org/2000/svg')
          path(d='m420.74 371.22c-20.021 0-37.942 7.855-51.596 20.24l-188.03-109.36c1.357-6.061 2.407-12.166 2.407-18.468s-1.072-12.385-2.407-18.468l185.9-108.34c14.179 13.129 32.931 21.334 53.719 21.334 43.828 0 79.145-35.251 79.145-79.079 0-43.74-35.339-79.078-79.145-79.078-43.741 0-79.079 35.338-79.079 79.057 0 6.389 1.072 12.385 2.407 18.468l-185.9 108.42c-14.201-13.194-32.931-21.378-53.741-21.378-43.828 0-79.145 35.317-79.145 79.057s35.317 79.079 79.145 79.079c20.787 0 39.54-8.206 53.719-21.334l187.7 109.6c-1.291 5.58-2.101 11.4-2.101 17.199 0 42.45 34.594 76.979 76.979 76.979 42.428 0 77.044-34.507 77.044-76.979s-34.593-76.957-77.021-76.957z')


    .reviews-footer--button
      button
        span Подписаться
