mixin item(title, descr)
  .item
    h2.item-title= title
    p.item-descr= descr

mixin item-menu(name, boolean)
  li
    span(class=boolean ? 'header-menu--arrow': 'header-menu--item')= name

mixin header-feedback(number, subtitle)
  p
    strong= number
    span= subtitle

mixin text-slide(title, subtitle, boolean, discount)
    span.main-slider--title= title
      span.main-discount(v-if='slide.discount') скидка
        strong= discount + ' %'
    span.main-slider--subtitle= subtitle
    button.main-slider--detail Подробнее

mixin product-card(title, img, quantity, grams, сalory, price, item, hit, veg)
    .product-item--picture
      .product-stock.product-veg(v-if="item.veg")
        span veg
      .product-stock.product-hit(v-if="item.hit")
        span хит
      .product-stock.product-hit(v-if="item.hot")
        img(src="/assets/img/fire.png", style="height: 30px; width: 23px; margin-top: 10px;")
      img(:src='item.img')
    .product-item--calc
      h3 {{ item.title }}
      span {{ item.quantity * item.item }} {{ item.type }} | {{ item.grams * item.item }} г. | {{ item.сalory * item.item }} Kkal
      .product-wrapper
        .product-price
          strong {{ item.price * item.item }} <sup> руб.</sup>
        .product-payment
          button.product-payment--minus(@click="item.item -= item.item - 1 === 0 ? 0 : 1")
          span {{ item.item }}
          button.product-payment--plus(@click="item.item += 1")
      button.product-item--sale
        span В корзину
